body{
	background-color: #a1b1cc ;
	font-family: 'Roboto Slab', serif;
	padding-left: 6px;
    
}
#page{
	background-color: #c7d1e0 ;
	/*border: 1px solid white;*/
	border-radius: 1.65% 1.65% 1.65% 1.65%;
	padding-left: 7px;
	padding-right: 15px;
	padding-top: 20px;
	margin-left: 6px;

}

header{
	background-color: #103570;
	/*text-shadow: 2px 2px #b7b4b3;*/
    padding-left: 10px;
    margin-left: 6px;
    padding-top: 60px;
    padding-bottom: 25px;
    border-radius: 1.80% 1.80% 1.80% 1.80%;
    
}
 #basic{
 	font-size: 18px;
 	text-decoration-color: #515863; 
 	padding-top: 20px;

 }
 #header{
 	font-size: 50px;
 	letter-spacing: 2px;
 }
 #date{
 	padding-left: 750px;
 	padding-top: 35px;
 }
#quote{

	font-style: italic;
	border: 1px solid white;
	background-color: #e2dad7;
	font-size: 200%;
	margin-left: 80px;
	margin-right: 170px;
	border-radius: 1.85% 1.85% 1.85% 1.85%;
    padding: 6px;
	
	

}
img{
	height: 200px;
	width: 300px;
	padding-bottom: 50px;
	padding-top: 20px;
}