#overall{
	padding: 2px 2px 2px 2px; 
}
.col{
	padding: 4px 3px 4px 3px; 
}

body{
	background-color: #2c427f; 
	/*background-color: #43427f; */
	background-size: 100%;
	font-family: 'Chicle', cursive;



}
.logo{
	width: 250px; 
	height: 250px;
	margin-left: 5px;  
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	/*border: 1px solid #ccc;*/
}

#details{
	text-align: center;
    font-family: arial;
    color: #e1e2e8; 
	

}
.dtv{
	font-family: 'Chicle', cursive;
	font-size: 2em;
}

.flip-container:hover .flipper,  
.flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 450px;
	height: 300px;
	}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	
	z-index: 2;
	

}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	color: #f8f8f8;

	/*background: #f8f8f8;*/
}
img{
	width: 100px; 
	height: 100px; 
}

.front .domain{
	padding: 5px 10px;
	border-radius: 5px;
	width: 30%; 
	height: 35%; 
	bottom: 60px;
	left: 25%;
	position: absolute;
}
.front .name {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;

}

.back-logo {
	position: absolute;
	top: 40px;
	left: 90px;
	width: 160px;
	height: 117px;
	}

.back-title {
	font-weight: bold;
	/*color: #00304a;*/
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;

		font-size: 2em;
}

.back p {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  font-family: arial;
  line-height: 2em;
  margin: 5px 5px 5px 5px; 

}